.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: inherit;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  #btnLog{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.invalid {
  border: 1px solid red !important;
}

.mat-form-field .mat-form-field-underline {
  border-bottom: 1px solid red !important;
}

.mat-form-field .mat-form-field-label {
  color: red !important;
}
