<div class="post-container">
    <div class="post-header">
      <img class="profile-pic" src="https://res.cloudinary.com/djsvjbkpn/image/upload/v1725555448/d7alseuwnze7oespw1qq.png" alt="profile picture" />
      <div class="post-info">
        <h3 class="username">{{ nombrePublicador }}</h3>
        <p class="post-date">{{ fechaPublicacion }}</p>
      </div>
    </div>
    <div class="post-image" *ngIf="imagenUrl">
      <img [src]="imagenUrl" alt="post image" />
    </div>
    <div class="post-content">
      <p class="post-text">{{ textoPublicacion }}</p>
    </div>
    <div class="post-actions">
      <button (click)="likePost()" class="action-btn">
        <i class="fa fa-heart"></i> {{ likes }} Me gusta
      </button>
      <button (click)="commentPost()" class="action-btn">
        <i class="fa fa-comment"></i> Comentar
      </button>
    </div>
  </div>
  